<div class="wrapper">
  <div class="container">
    <h1>New Salaries Setup</h1>
    <%= simple_form_for @salary do |f| %>
      <%= f.input :user %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

